.krmNah 
{
    background-color: #d43b04 !important;
    box-shadow: none !important;
}
.jhmYzC {
    box-shadow: 0 0 1px 2px #f74808b9 !important;
}
.custom-list
{
    list-style-type: none;
}
.custom-list li
{
    font-size: 1rem !important;
}