.krmNah 
{
    background-color: #d43b04 !important;
    box-shadow: none !important;
}
.jhmYzC {
    box-shadow: 0 0 1px 2px #f74808b9 !important;
}
.custom-list
{
    list-style-type: none;
}

.eWjCzc
{
    background-color: #d43b04 !important;
    color:#fff !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    width: 40px !important;
    height: 50px !important;
}
.eAyARa
{
    box-shadow: none !important;
    border-radius: 0px !important;
}
.custom-list
{
    position: relative;
}
.custom-list .custom-font-icon
{
    position: absolute;
    left: -40px;
}