@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*
{
  /* font-family: 'Montserrat', sans-serif; */
  /* color: #333; */
  font-family: 'Poppins', sans-serif;
}
:root
{
  --orange: hsl(12, 98%, 50%);
  --grey: #43494e;
}
.custom-font-icon
{
  font-size: 1.2rem;
  margin: 5px;
}
.cust-content-container h1 span, .cust-sect-arrive h1 span, .custom-sect-client h1 span, .cust-cont-section h1 span, .cust-conts-section h1 span, .cust-ongoing-section h1 span, .cust-sect-service h1 span, .cust-team-section h1 span, .cust-work-section h1 span
{
    color: #d43b04;
    font-family: 'Montserrat', sans-serif; 
}


/* banner */
.styles_navLinks__38tON a {
  letter-spacing: 0px !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}
.styles_navSocial__3JBh_ {
  width: 0vw !important;
}
.custom-sec-banner
{
  background-image: url('./images/banner.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item
{
  padding-left: 3rem !important;
}

@media screen and (max-width: 600px) 
{
  .custom-banner-content h1
  {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 400px) 
{
  .custom-banner-content h1
  {
    font-size: 2rem !important;
    padding-top: 7%;
  }
}
.text-white
{
  color: #fff;
}
.text-orange
{
  color: rgb(212, 59, 4) !important;
}
.text-black
{
  color:rgba(0, 0, 0, 0.24);
}
.custom-sec-navbar
{
  background-color: rgba(0, 0, 0, 0.5);
}
.cust-decoration
{
  text-decoration: none !important;
}
.custom-sect-navbar
{
  display: flex;
  justify-content: flex-end;
}
#cust-link-font
{
  font-size: 14px;
}
#cust-link-font a
{
  padding-top: none;
  padding-bottom: none;
}
.custom-banner-content
{
  padding-top: 12%;
}
.custom-banner-content h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}
.custom-counter-content
{
  margin-top: 8% !important;
  text-align: center;
}
.custom-counter-content h1
{
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  justify-content: right;
}
/* about */
.custom-about .cust-title-abt
{
  font-size: 3.5rem;
  color: #333;
  font-family: 'Montserrat', sans-serif; 
}
@media screen and (max-width: 400px) 
{
  .cust-title-abt
  {
    font-size: 2rem !important;
  }
  .custom-font-abt
  {
    font-size: 1.6 !important;
    font-family: 'Montserrat', sans-serif; 
  }
}
.cust-content-container
{
  padding: 4rem;
  padding-top: 2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 45px rgb(221, 222, 223);
}


/* From uiverse.io by @mrhyddenn */
/* From uiverse.io */
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(13, 100%, 51%) 0%,
     hsl(13, 99%, 50%)  8%,
     hsl(13, 99%, 50%)  92%,
     hsl(13, 100%, 51%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: var(--orange);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }
/* .cust-ser-section
{
  background-image: url('./images/service.webp');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  margin-top: 25px;
} */
.cust-ser-section .container
{
  padding: 40px;
}
.custom-border
{
  padding: 2rem 1.5rem;
  border-radius: 15px;
  border: 1px solid #d43b04;
}
.custom-border:hover
{
  background: linear-gradient(to bottom, #f46b45, #ec9d6f);
  color: #fff;
}

.single_feature{
  background: #fff none repeat scroll 0 0;
  box-shadow:0 2px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 40px 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .single_feature:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(212, 59, 4);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .single_feature:hover, .single_feature:focus, .single_feature:active {
    color: white;
  }
  .single_feature:hover:before, .single_feature:focus:before, .single_feature:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .single_feature i {
    border: 1px solid #e8e8e9;
    border-radius: 50%;
    color: #333;
    float: left;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 60px;
    z-index: 3;
    margin-top: 25px;
  }
  .single_feature:hover i{
    background: #fff;
    border: 1px solid #fff;
    color:rgb(212, 59, 4);
  }
  .single_feature h3 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight:400;
    margin-top:0px;
    overflow: hidden;
  }
  .single_feature:hover h3{color:#fff;}
  .single_feature span {
  border-bottom: 1px dashed #ccc;
  display: block;
  margin: 15px auto 10px;
  width: 80px;
  }
  .single_feature p { margin-bottom: 0 ;overflow: hidden;}
  /* input contact form */
input {
  background: transparent;
}
#form {
  margin-top: 50px; 
  background-color: #fff;
  padding: 3rem;
  border-radius: 15px;
}
.input-box, .textarea{
  position: relative;
  margin: 20px 0;
}
.input-box .input-label, .textarea .input-label{
  position: absolute;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 8px;
  top: 13px;
  padding: 0 8px;
  transition: 250ms;
  user-select: none;
  pointer-events: none;
}
.textarea .input-1
{
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 2px solid rgb(212, 59, 4);
  padding: 13px 15px;
  transition: 250ms;
}
.input-box .input-1  {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 2px solid rgb(212, 59, 4);
  padding: 13px 15px;
  transition: 250ms;
}
.input-box .input-1:focus, .textarea .input-1:focus {
  outline: none;
  border: 2px solid var(--grey);
  transition: 250ms;
}
.input-box.focus .input-label, .input-box.active .input-label, .textarea.focus .input-label, .textarea.active .input-label {
  color: rgb(17, 15, 14);
  top: -8px;
  background: #fff;
  font-size: 1rem;
  transition: 250ms;
}
.custom-sect-client
{
  box-shadow: rgba(0, 0, 0, 0.1);
}
/* contact */
.cust-cont-section, .cust-sect-arrive, .custom-footer, .cust-ongoing-section , .cust-team-section
{
  background: linear-gradient(to right, #3b3f42 0%, #4b4c4d 100%);
}
.cust-price-section h1, .cust-cont-section h1, .cust-ser-section h1, .cust-vision-section h1, .cust-content-container h1, .cust-sect-service h1, .cust-sect-arrive h1, .cust-work-section h1, .cust-ongoing-section h1, .custom-sect-client h1, .cust-team-section h1, .cust-conts-section h1
{
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  text-transform: capitalize;
}
/* custom align center*/
.custom-align-center
{
  display: flex;
  justify-content: center;
}
.fa
{
  font-size: 1.3rem;
  margin: 5px;
}
.fa-check
{
  color: rgb(212, 59, 4);
  margin-right: 10px;
}
/* vision card */

/* Work flow card */

.services-box{
  display: inline-block;
  padding: 2rem;
  margin-bottom: 20px;
  border-bottom: 1px dashed #dfe0e1;
  padding-top: 40px;
}
.services-box:hover{
  background: #fff;
  cursor: pointer;  
   transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.services-box:hover i{
  background: rgb(212, 59, 4);
  border-radius: 100px;
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.icon{
  padding: 0px;
  float: left;
  margin-right: 20px;
  padding-bottom:30px
}
.icon i{
  width: 70px;
  height: 70px;
  background: #d43b04;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  font-size: 44px;
}

.service-content h4{
  font-size: 18px;
  font-weight: 900;
  height: 35px;
}

/* on going project */
.cust-ongoing-section .content
{
  box-shadow: 0px 0px 5px 0px #c0c0c0;
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
}
.content .h3
{
  background-color: aquamarine;
  padding: 1rem;
}
.content span
{
  margin: 16px;
  font-size: 1.5rem;
}
.content i
{
  font-size: 1.4rem;
}
.custom-bg
{
  border-radius: 15px;
}

/* contact */
.cust-contact-section
{
  background-image: url('./images/contact.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Testimonial */
.cust-testi-section
{
  padding-bottom: 3rem;
}
.custom-blog
{
  width: auto;
  height: auto;
  background: #fff;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 5px;
}

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog-title{
  padding: 1rem 0;
  font-size: 1.5rem;
}

.description{
  padding: 1rem 0;
  font-size: 1rem;
}

.blog-time{
  font-size: .8rem;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.options span{
  font-weight: 600;
}
/* footer */
.cust-footerlink 
{
  list-style-type: none;
}
.cust-footerlink li
{
  padding-bottom: 10px;
}
.footer-list a
{
  text-decoration: none !important;
}
.custom-media-icon li
{
  margin-bottom: 15px;
}
.custom-logo
{
  max-width: 250px;
}
hr
{
  color: #fff !important;
}
/* media link */
/* @media screen and (max-width: 1200px) 
{ */
  #floating-share-buttons
  {
    display: none;
  }
/*   
.rounded-social-buttons {
  text-align: center;
} */

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 18px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:hover {
  color: #3b5998 !important;
  /* background: #fefefe; */
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  /* background: #fefefe; */
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  /* background: #fefefe; */
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  /* background: #fefefe; */
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  /* background: #fefefe; */
  border-color: #125688;
}
/* } */
#floating-share-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#floating-share-buttons a {
  color: #fff;
  text-decoration:none;
  font-size:14px;
}
#floating-share-buttons a.share-facebook {
  background-color: #395793 ;
}
#floating-share-buttons a.share-instagram {
  background-color: #e95950;
}
#floating-share-buttons a.share-twitter {
  background-color: #1DA1F2 ;
}
#floating-share-buttons a.share-linkedin {
  background-color: #0077b5;
}
#floating-share-buttons a.share-youtube {
  background-color: #FF0000 ;
}
@media(max-width:480px) 
{
  .custom-mob-footer .custom-footer, .custom-mob-footer
  {
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
}
@media(max-width:480px) 
{
  #custom-logo
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media(min-width:480px) 
{
  .custom-mob-footer .custom-footer
  {
    padding: 3rem !important;
  }
}

/* client section */
.brand-boxes
{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(2,1fr);
  gap:30px;
  align-items:center
}
.brand-boxes .brand-box
{
  display:grid;
  align-items:center;
  justify-items:center;
  border:1px solid #dbdbdb;
  padding:18px 22px;
  -webkit-box-shadow:7px 7px 20px 5px rgba(51,55,81,.1);
  -moz-box-shadow:7px 7px 20px 5px rgba(51,55,81,.1);
  box-shadow:7px 7px 20px 5px rgba(51,55,81,.1);
  text-align:center;
  height:100%;
  border-radius:18px
}
.brand-boxes .brand-box figure
{
  max-width:138px
}
.brand-boxes 
.brand-box 
figure 
img
{
  min-height:50px
}
@media(max-width:991px)
{
  .brand-boxes
  {
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(4,1fr);
    gap:25px;
  }
}
@media(max-width:767px)
{
  .brand-boxes .brand-box figure
  {
    max-width:84%;
  }
  .brand-boxes .brand-box figure img
  {
    min-height:31px;
  }
  .brand-boxes .brand-box
  {
    padding:12px 25px;
  }
}
@media(max-width:480px)
{
  .brand-boxes
  {
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(6,1fr);
    gap:10px;
  }
  .brand-boxes .brand-box
  {
    padding:10px 20px;
  }
}